table, th, td {
   width: 100%;
}


.ach-h {
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.ach-inc {
	color: #bababa;
	text-align: center;
	font-size: 25px;
	display: inline-block;
}

.ach-c {
	color: #0A5;
	text-align: center;
	font-size: 25px;
	display: inline-block;
}
