table, th, td {
   width: 100%;
}

#ac-h {
	padding-bottom: 50px;
}

.ach-inc {
	color: #bababa;
	text-align: center;
	font-size: 25px;
}

.ach-c {
	color: #f4c242;
	text-align: center;
	font-size: 25px;
}
