// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create {
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}

.admin-title {
	text-align: center;
	font-size: 22px;
	color: #0A5;
} 