.pitanje {
	padding: 10px;
	margin-bottom: 10px;
}

.odgovor {
	padding: 5px;
}

.review-questions-modal {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h1 {
    	text-align: center;
    }

    #stars {
        color: yellow;
        font-weight: bold;
    }

    .wrong-headline {
        color: #B22222;
    }

    .correct-headline {
        color: #0A8E1E;
    }

    .correct-text {
        color: #0A8E1E;
    }
}
