.pitanje {
	padding: 10px;
	margin-bottom: 10px;
}

.odgovor {
	padding: 5px;
}

.review-questions-modal {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    h1 {
    	text-align: center;
    }
}