body {
	width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; font: 20px Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318;
}

#header {
	text-align: center;
	padding: 15px 0 15px 25px;
}

#main {
	min-height: 500px;
}

#content {
	padding: 10px;
}

#footer {
	clear: both;
	height: 2.5em;
	text-align: right;
}

#logoutbtn {
	float: right;
}

.links a {
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
}

.links a:hover {
	color: green;
}