<% @page_title = "Game Name|Learn" %>

<div class="text-center center">
	<% @concepts.each do |c| %>
		<div class="btn btn-default btn-lg btn-block">
			<%= link_to(c.name, :controller => "levels", :action => "index") %>
		</div>
	<% end %>
</div>

