<% @page_title = "Nauči C" %>
<% if false %>
<div class="title">
	<h2>Learn C</h2>
	<p>Play through the levels, earn achievements, complete the categories and become an expert in C</p>
</div>
<% end %>

<div class="concept">
	<div class="title">
		<h2>Nauči C</h2>
		<p>Igraj kviz po razinama, otključavaj nove, zahtjevnije kategorije i zaradi raznovrsna postignuća na putu da savladaš C</p>
	</div>
	<% @concepts.each do |c| %>
		<div class="btn-concept category">
			<div class="cat-name"><%= link_to(c.name, 'javascript:;', :class => "main-cat", :data => {:id => c.id} ) %></div>
			<div id=<%=c.id%>></div>
		</div>	
		<div class='p-bar animate'>
			<span style='width: 0%'></span>
		</div>
	<% end %>
</div>


