<% @page_title = "Game Name|Learn" %>

<div class="text-center center">
	<% @concepts.each do |c| %>
		<div class="">
			<%= link_to c.name, {:controller => "levels", :action => "index", :concept_id => c.id}, {class: "btn btn-default btn-lg btn-block btn-moj"} %>
		</div>
	<% end %>
</div>

