<div class="admin-title">Admin</div>
<div>
	<p class="create">Create category:</p>
	<%= render 'category_form' %>
</div> 
<div>
	<p class="create">Create level:</p>
	<%= render 'level_form' %>
</div> 
<div>
	<p class="create">Create question:</p>
	<%= render 'question_form' %>
</div> 
<div>
	<p class="create">Create answer:</p>
	<%= render 'answer_form' %>
</div> 
