<div class="admin-title">Admin</div>
<div class="form">
	<%= link_to("Nova kategorija", 'javascript:;', :class => "create", :data => {:id => "cat"} ) %>
	<div id="cat"></div>
</div> 
<div class="form">
	<%= link_to("Nova razina", 'javascript:;', :class => "create", :data => {:id => "lev"} ) %>
	<div id="lev"></div>
</div> 
<div class="form">
	<%= link_to("Novo pitanje", 'javascript:;', :class => "create", :data => {:id => "ques"} ) %>
	<div id="ques"></div>
</div> 
<div class="form">
	<%= link_to("Novi odgovor", 'javascript:;', :class => "create", :data => {:id => "answ"} ) %>
	<div id="answ"></div>
</div> 
