<div class="return-to-levels">
	<h1>Jeste li sigurni da želite odustati?</h1>
	<p>Povratkom na levele izgubit ćete dosadašnji ostvareni rezultat na ovom levelu</p>
	<div class="return-to-levels-buttons">
		<button class="btn--green yes-btn">DA</button>
		<button class="btn--red no-btn">NE</button>
	</div>
</div>