<div class='achievements'>
	<table>
		<tr>
			<th id='ac-h'><h1><%= current_user.email %> Achievements</h1></th>
		</tr>

		<%if !@user_achievements.blank?%>
			<% completed = [] %>
			<% @user_achievements.each do |u_a| %>
				<% if u_a.user_id == current_user.id %>
					<% completed << u_a.achievement_id %>
				<% end %>
			<% end %>
		<% end %>	

		<% if !(completed.blank?) %>
			<% @achievements.each do |a| %>
				<% if completed.include? a.id %>
					<tr>
						<td class='ach-c'>
							<%= a.name %>
						</td>
					</tr>
				<% else %>
					<tr>	
						<td class='ach-inc'>
							<%= a.name %>
						</td>
					</tr>
				<% end %>
			<% end %>
		<% else %>
			<% @achievements.each do |a| %>
				<tr>	
					<td class='ach-inc'>
						<%= a.name %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
   