<div class='achievements'>
	<table>
		<tr>
			<th id='ac-h'><h1><%= current_user.email %> Achievements</h1></th>
		</tr>
		<% @achievements.each do |a| %>
			
			<tr>
			<%if !@user_achievements.blank?%>
				<% @user_achievements.each do |u_a| %>
 				<% if u_a.user_id == current_user.id && u_a.achievement_id == a.id %>
					<td class='ach-c'>
						<%= a.name %>
					</td>
				<% else %>
					<td class='ach-inc'>
						<%= a.name %>
					</td>						
				<% end %>
				<% end %>
			<% else %>
				<td class='ach-inc'>
					<%= a.name %>
				</td>
			<% end %>
			</tr>

		<% end %>
	</table>
</div>
