<% @page_title = "Learn C" %>

<div class="text-center center btn">
	<%= link_to concepts_index_path(), :class => 'btn-moj btn btn-default btn-lg btn-block' do %>
		LEARN C
	<% end %>	

	<%= link_to concepts_index_path(), :class => 'btn-moj btn btn-default btn-lg btn-block' do %>
		TIME TRIAL
	<% end %>

	<%= link_to achievements_index_path(), :class => 'btn-moj btn btn-default btn-lg btn-block' do %>
		ACHIEVEMENTS
	<% end %>
</div>
