<% @page_title = "Game Name|Learn" %>

<div class="text-center center">
	<div class="btn btn-default btn-lg btn-block">
		<%= link_to("Beginner", :controller => "levels",  :action => "begginer") %>
	</div>
	<div class="btn btn-default btn-lg btn-block">
		<%= link_to("Intermediate", :controller => "levels", :action => "intermediate") %>
	</div>
	<div class="btn btn-default btn-lg btn-block">
		<%= link_to("Expert", :controller => "levels", :action => "expert") %>
	</div>
</div>