<% @page_title = "Game Name|Learn" %>

<div class="links">
	<%= link_to("Begginer", :controller => "levels",  :action => "begginer") %>
	<%= link_to("Intermediate", :controller => "levels", :action => "intermediate") %>
	<%= link_to("Expert", :controller => "levels", :action => "expert") %>
</div>	